@import "./base.css";

#app {
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-bluehover);
  }
}

body {
  /* display: flex; */
  background-image: url("backgroundimg.jpg");
  background-size: 400px;
  background-position: 80% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about {
  margin-top: 5%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  font-size: 80px;
  min-height: 8rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: var(--color-background);
  padding: 3%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.button {
  background-color: var(--color-background);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid var(--color-border);
}

.button:hover {
  background-color: var(--color-lightblue);
  color: white;
}

.button2 {
  color: white;
  background-color: var(--color-lightblue);
  width: 200px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.button2:hover {
  background-color: rgb(19, 33, 63);
}
